%h1.content-subhead.is-center Upload do arquivo das participantes
%form(method="post" enctype='multipart/form-data' action="/raffle" class="body-adjust pure-form pure-u-1-2")
  %input(type='file' name='contestants' class="pure-button")
  %input.button-success.pure-button(type='submit' value='Sobe!')
